:root {
  /* fonts */
  --font-size-max: 40px;
  --font-size-medium: 35px;
  --font-size-min: 30px;
  --font-size-max2: 28px;
  --font-size-medium2: 24px;
  --font-size-min2: 20px;
  /* Основной цвет */
  --color-main-1: #edf2fb;
  --color-main-2: #e2eafc;
  --color-main-3: #d7e3fc;
  --color-main-4: #ccdbfd;
  --color-main-5: #c1d3fe;
  --color-main-6: #b6ccfe;
  --color-main-7: #abc4ff;
  /* Ширина  */
  --min-width: 320px;
  --fixed-width: 620px;

  /* Тень */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Анимация */
  --transition: all 0.3s linear;

  --border-radius15: 50px:
}
